$baseColorText:black;
$baseFont:'Lato', sans-serif;
$baseFontSize: 1rem;

// $h1ColorText: blue;
// $h1FontSize:2rem;

$iconColor: white;
$iconFontSize: 3rem;
$iconColorText:white;

$iconHoverFontSize: 4rem;
$iconHoverColorText:white;

$cardH1FontSize: 2.5rem;
$cardTextFontSize: 1rem;
$cardColorText:black;


$baseFonColor: #F07760;







