
$titleFont: 'Montserrat', sans-serif;
$titleFontColor: black;
$titleFontColorHeader: white;

$h2TitleColor:#444444;
$step-btn:white;


$textFont: Roboto, sans-serif;
$textFontColor: black;

$baseFontSize: 1rem;

$bgColorFillBtn:#FF4E50;

$bgColorFillBtnHover:rgb(250, 121, 124);



